.container{
    margin-top: 30px;
    width: 50%;
    background: #007bff;
     justify-self: center;
     padding: 20px;
     border-radius: 15px;
}
    /* Style for the navigation bar */
    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color:orange;
      padding: 10px 20px;
    }

    .navbar a {
      color: red;
      text-decoration: none;
      padding: 10px 15px;
      display: inline-block;
    }

    .navbar a:hover {
      background-color: #575757;
      border-radius: 5px;
    }

    .navbar .logo {
      font-size: 20px;
      font-weight: bold;
    }

    .navbar .menu {
      display: flex;
    }

    input{
      border: 1px solid green;
      width: 50%;
      padding: 15px;
      text-align: center;
    }

    input{
      border: 1px solid white;
    }



    button{
      width: 30%;
      background-color: green;
      color: blue;
      padding: 15px;
      margin-left: 100px;
      border-radius: 20px;
      border: 1px solid green;
    }

    select{
      width: 30%;
      background-color: blueviolet;
      padding: 15px;
      margin-left: 100px;
      border-radius: 30px;
    }


    .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 10px;
   background-color: orange;
   color: white;
   text-align: center;
}

  
/* Default Light Theme */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #222;
  transition: background 0.3s, color 0.3s;
  text-align: center;
  padding: 0;
}



.profile {
  border-radius: 50%;
  width: 150px;
}

.buttons .btn {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 25px;
}

#themeToggle {
  padding: 12px;
  border: none;
  background: yellow;
  color: white;
  border-radius: 95px;
  cursor: pointer;
}
/* Dark Mode */
body.dark-mode {
  background: #121212;
  color: #ffffff;
}

body.dark-mode .navbar {
  background: #1e1e1e;
}

body.dark-mode .btn {
  background: #2196f3;
}

body.dark-mode #themeToggle {
  background: #2196f3;
}